<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KERAMI</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="icon" type="image/x-con" href="{% static 'home/favicon.ico' %}">
    {% block css %}{% endblock %}
</head>
<body>
{% block header %}
<header class="header-menu">
    <div class="header container">
        <div class="logo">
            <a href="{% url 'home' %}"><img src="{% static 'home/logo_ceramics.svg' %}" alt="KERAMI"></a>
        </div>
        <nav class="menu-nav">
            {% for m in menu %}
            <a class="menu-nav-item" href="{{ m.url }}">{{ m.title }}</a>
            {% endfor %}
            {% if user.is_staff %}
            <a class="menu-nav-item" href="{% url 'additem' %}">ADD NEW ITEM</a>
            {% endif %}
        </nav>
        <div class="right-items">
            {% if user.is_authenticated %}
            <a href="#">{{ user.username }}</a>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button class="logout-btn">Logout</button>
            </form>
            {% else %}
            <a href="{% url 'login' %}">LOGIN</a>
            {% endif %}
            <a class="link-svg" href="#">
                <svg width="25px" height="25px" viewBox="0 0 1024 1024" class="icon" version="1.1"
                     xmlns="http://www.w3.org/2000/svg" fill="#000000" stroke="#000000" stroke-width="0.01024"
                     transform="matrix(1, 0, 0, 1, 0, 0)">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC"
                       stroke-width="2.048"></g>
                    <g id="SVGRepo_iconCarrier">
                        <path d="M448 768A320 320 0 1 0 448 128a320 320 0 0 0 0 640z m297.344-76.992l214.592 214.592-54.336 54.336-214.592-214.592a384 384 0 1 1 54.336-54.336z"
                              fill="#000000"></path>
                    </g>
                </svg>
            </a>
            {% if user.is_authenticated %}
            <a class="link-svg" href="{% url 'favourites' %}">
                {% else %}
                <a class="link-svg" href="{% url 'login' %}">
                    {% endif %}
                    <svg fill="#000000" width="28px" height="25px" viewBox="0 0 32 32" version="1.1"
                         xmlns="http://www.w3.org/2000/svg" stroke="#000000" stroke-width="0.064">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path d="M8.999 3.567c0.98 0 2.753 0.469 5.628 3.301l1.425 1.403 1.404-1.426c1.996-2.028 4.12-3.288 5.543-3.288 1.919 0 3.432 0.656 4.907 2.128 1.39 1.386 2.156 3.23 2.156 5.191 0.001 1.962-0.764 3.807-2.169 5.209-0.114 0.116-6.156 6.634-11.218 12.097-0.238 0.227-0.511 0.26-0.656 0.26-0.143 0-0.412-0.032-0.65-0.253-1.233-1.372-10.174-11.313-11.213-12.351-1.391-1.388-2.157-3.233-2.157-5.194s0.766-3.804 2.158-5.192c1.353-1.352 2.937-1.885 4.842-1.885zM8.999 1.567c-2.392 0-4.5 0.715-6.255 2.469-3.659 3.649-3.659 9.566 0 13.217 1.045 1.045 11.183 12.323 11.183 12.323 0.578 0.578 1.336 0.865 2.093 0.865s1.512-0.287 2.091-0.865c0 0 11.090-11.97 11.208-12.089 3.657-3.652 3.657-9.57 0-13.219-1.816-1.813-3.845-2.712-6.319-2.712-2.364 0-5 1.885-6.969 3.885-2.031-2-4.585-3.874-7.031-3.874v0z"></path>
                        </g>
                    </svg>
                </a>
            </a>
            {% if user.is_authenticated %}
            <a class="link-svg" href="{% url 'comparison' %}">
                {% else %}
                <a class="link-svg" href="{% url 'login' %}">
                    {% endif %}
                    <svg width="25" height="25" viewBox="0 0 20 28" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <line x1="6.57629" y1="26.5044" x2="6.57629" y2="1.00008" stroke="black"
                              stroke-width="2" stroke-linecap="round"/>
                        <line x1="12.9821" y1="26.5044" x2="12.9821" y2="8.10141" stroke="black"
                              stroke-width="2" stroke-linecap="round"/>
                        <line x1="19" y1="26.5044" x2="19" y2="14.0557" stroke="black" stroke-width="2"
                              stroke-linecap="round"/>
                        <line x1="1" y1="26.5044" x2="1" y2="17.5533" stroke="black" stroke-width="2"
                              stroke-linecap="round"/>
                    </svg>
                </a>
            </a>
            {% if user.is_authenticated %}
            <a class="link-svg" href="{% url 'cart' %}">
                {% else %}
                <a class="link-svg" href="{% url 'login' %}">
                    {% endif %}
                    <svg width="25px" height="25px" viewBox="0 0 32 32" version="1.1"
                         xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" stroke="#000000"
                         stroke-width="1.1199999999999999">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <g id="icomoon-ignore"></g>
                            <path d="M30.622 9.602h-22.407l-1.809-7.464h-5.027v1.066h4.188l5.198 21.443c-1.108 0.323-1.923 1.334-1.923 2.547 0 1.472 1.193 2.666 2.666 2.666s2.666-1.194 2.666-2.666c0-0.603-0.208-1.153-0.545-1.599h7.487c-0.337 0.446-0.545 0.997-0.545 1.599 0 1.472 1.193 2.666 2.665 2.666s2.666-1.194 2.666-2.666c0-1.473-1.193-2.665-2.666-2.666v0h-11.403l-0.517-2.133h14.968l4.337-12.795zM13.107 27.196c0 0.882-0.717 1.599-1.599 1.599s-1.599-0.717-1.599-1.599c0-0.882 0.717-1.599 1.599-1.599s1.599 0.718 1.599 1.599zM24.836 27.196c0 0.882-0.718 1.599-1.6 1.599s-1.599-0.717-1.599-1.599c0-0.882 0.717-1.599 1.599-1.599 0.882 0 1.6 0.718 1.6 1.599zM11.058 21.331l-2.585-10.662h20.662l-3.615 10.662h-14.462z"
                                  fill="#000000"></path>
                        </g>
                    </svg>
                </a>
            </a>
        </div>
    </div>
</header>
{% endblock header %}
{% block content %}
{% endblock content%}
<footer class="footer-nav">
    <div class="page-footer_wrapper container">
        <div class="footer-designer-name">
            <h3>Designed and Developed by Daria V.</h3>
        </div>
        <div class="footer-copyright">
            <h3>Copyright © 2023</h3>
        </div>
        <div class="footer-body">
            <ul class="footer-icons">
                <li class="social-icon">
                    <a href="https://github.com/dariavarlamovaa" target="_blank"
                       rel="noopener noreferrer">
                        <svg stroke="currentColor" fill="#211f1f" stroke-width="0" viewBox="0 0 1024 1024"
                             height="20px" width="20px" xmlns="http://www.w3.org/2000/svg">
                            <path d="M511.6 76.3C264.3 76.2 64 276.4 64 523.5 64 718.9 189.3 885 363.8 946c23.5 5.9 19.9-10.8 19.9-22.2v-77.5c-135.7 15.9-141.2-73.9-150.3-88.9C215 726 171.5 718 184.5 703c30.9-15.9 62.4 4 98.9 57.9 26.4 39.1 77.9 32.5 104 26 5.7-23.5 17.9-44.5 34.7-60.8-140.6-25.2-199.2-111-199.2-213 0-49.5 16.3-95 48.3-131.7-20.4-60.5 1.9-112.3 4.9-120 58.1-5.2 118.5 41.6 123.2 45.3 33-8.9 70.7-13.6 112.9-13.6 42.4 0 80.2 4.9 113.5 13.9 11.3-8.6 67.3-48.8 121.3-43.9 2.9 7.7 24.7 58.3 5.5 118 32.4 36.8 48.9 82.7 48.9 132.3 0 102.2-59 188.1-200 212.9a127.5 127.5 0 0 1 38.1 91v112.5c.8 9 0 17.9 15 17.9 177.1-59.7 304.6-227 304.6-424.1 0-247.2-200.4-447.3-447.5-447.3z"></path>
                        </svg>
                    </a>
                </li>
                <li class="social-icon">
                    <a href="https://www.linkedin.com/in/daria-varlamova-091537270/"
                       target="_blank" rel="noopener noreferrer">
                        <svg stroke="currentColor" fill="#211f1f" stroke-width="0" viewBox="0 0 448 512"
                             height="20px" width="20px" xmlns="http://www.w3.org/2000/svg">
                            <path d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"></path>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
</body>
</html>