.total-price-checkout {
    text-align: right;
}

.item-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.checkout-inputs h3 {
    padding: 20px 0;
}

input, textarea {
    border: 1px solid #211f1f;
    box-sizing: border-box;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 10px;
    width: 100%;
}

textarea {
    height: 40px;
}


.btn {
    margin-top: 20px;
    width: 100%;
    border: 2px solid #211f1f;
    background-color: #FFFFFF;
    line-height: 2;
    font-size: 20px;
}

.btn:hover {
    background-color: #1C2A6EFF;
    color: #FFFFFF;
}