.item-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.total-price-checkout {
    text-align: right;
}

.checkout-inputs h3 {
    padding: 20px 0;
}

input {
    border: 1px solid #211f1f;
    box-sizing: border-box;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 10px;
}

.row {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.name-info,
.card {
    width: 48%;
}

.firstname, .lastname {
    width: 100%;
}

.card input, .email,
.address {
    width: 100%;
}

.country-info, .city-info, .postcode-info{
    width: 31%;
}

.country, .city, .postcode {
    width: 100%;
}

.btn {
    margin-top: 20px;
    width: 100%;
    border: 2px solid #211f1f;
    background-color: #FFFFFF;
    line-height: 2;
    font-size: 20px;
}

.btn:hover {
    background-color: #1C2A6EFF;
    color: #FFFFFF;
}