{% extends 'home/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/shop.css' %}">
{% endblock %}
{% block content %}
<section class="shop-page">
    <div class="shop container">
        <h1 class="catalog-title">Catalog</h1>
        <hr>
        <div class="catalog-items">
            {% if user.is_staff %}
            {% for item in items %}
            <a href="{% url 'viewitem' item.id %}">
                <div class="item">
                    <img src="{{ item.image.url }}" alt="{{ project.title }}">
                    <span>{{ item.title }}</span>
                    <span>{{ item.price }}</span>
                    <button class="add-to-cart-button">ADD TO CART</button>
                </div>
            </a>
            {% endfor %}
            {% else %}
            {% for item in items %}
            <a href="#">
                <div class="item">
                    <img src="{{ item.image.url }}" alt="{{ project.title }}">
                    <span>{{ item.title }}</span>
                    <span>{{ item.price }}</span>
                    <button class="add-to-cart-button">ADD TO CART</button>
                </div>
            </a>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
{% endblock content %}