.item-title,
.item-heading {
    text-align: center;
}

.edit-item hr {
    width: 900px;
}

.item-editing,
.item-adding {
    border: solid 3px #211f1f;
    min-width: 700px;
    max-width: 900px;
    min-height: 700px;
    text-align: center;
    padding: 30px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.item-edit-form,
.item-add-form {
    min-width: 600px;
}

.item-edit-form input[type="text"],
.item-edit-form input[type="password"],
.item-edit-form input[type="file"],
.item-add-form input[type="text"],
.item-add-form input[type="password"],
.item-add-form input[type="file"],
.item-edit-form input[type='datetime-local']{
    width: 100%;
    border: 2px solid #211f1f;
    box-sizing: border-box;
    height: 49px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    align-items: center;
}

.button {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.delete, .save, .add-btn {
    width: 100%;
    border: solid 3px #211f1f;
    background-color: #FFFFFF;
    height: 49px;
    font-size: 15px;
}

.delete:hover, .save:hover, .add-btn:hover {
    background-color: #211f1f;
    color: #FFFFFF;
}