.query-set-sort {
    position: absolute;
    left: -200px;
}

.query-set {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    min-height: 150px;
}

.query-set span,
.sales-items-link {
    font-size: 25px;
}

.catalog-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    width: 30%;
    box-sizing: border-box;
    margin-bottom: 60px;
}

.item-info a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

.item-img {
    width: 100%;
    height: 400px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
}

.span-old-price {
    font-size: 16px;
    text-decoration: line-through;
}

.discount-price {
    color: #e03838;
}

.add-to-cart-link {
    text-decoration: underline;
}

.item-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}